@keyframes bounceShrink {
  0% {
    width: 100%;
  }
  60% {
    width: 48px;
  }
  75% {
    width: 56px;
  }
  100% {
    width: 48px;
  }
}
.shrink {
  animation: bounceShrink 0.3s ease-in-out 0.75s forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.charFadeOut-0 {
  animation: fadeOut 0.0714s linear forwards;
}
.charFadeOut-1 {
  animation: fadeOut 0.1429s linear forwards;
}
.charFadeOut-2 {
  animation: fadeOut 0.2143s linear forwards;
}
.charFadeOut-3 {
  animation: fadeOut 0.2857s linear forwards;
}
.charFadeOut-4 {
  animation: fadeOut 0.3571s linear forwards;
}
.charFadeOut-5 {
  animation: fadeOut 0.4286s linear forwards;
}
.charFadeOut-6 {
  animation: fadeOut 0.5s linear forwards;
}

.navHover {
  position: relative;
}
.navHover::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition: width 0.3s;
}
.navHover:hover::before {
  width: 100%;
}
.navHover:hover .liftOnHover {
  transform: translate(2px, -2px);
  transition: transform 0.3s ease-out;
}
.navHover .liftOnHover {
  transform: translate(0, 0);
  transition: transform 0.3s ease-out;
}

.slidingText {
  transition: transform 0.3s;
}
.moveUp {
  transform: translateY(-100%);
}
.moveDown {
  transform: translateY(0%);
}

@keyframes crouchDown {
  to {
    transform: translate(-5px, 18px);
    width: 60px;
    height: 30px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}
.crouchDown {
  animation: crouchDown 0.5s ease-out forwards;
}
@keyframes trampoline {
  0% {
    transform: translate(-5px, 13px);
    width: 60px;
    height: 35px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  50% {
    transform: translate(0, -40px);
    width: 48px;
    height: 48px;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
  }
  100% {
    transform: translate(-5px, 13px);
    width: 60px;
    height: 35px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}
.trampoline {
  animation: trampoline 0.65s ease forwards infinite;
}
