@keyframes reveal {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}

.animate-hiddenInitially {
  clip-path: inset(0 100% 0 0);
}

.animate-revealBrushAfter250ms {
  animation: reveal 0.25s ease-in-out 0.25s forwards;
}
.animate-revealBrushAfter450ms {
  animation: reveal 0.25s ease-in-out 0.45s forwards;
}
.animate-revealBrushAfter650ms {
  animation: reveal 0.25s ease-in-out 0.65s forwards;
}
