@keyframes loading {
  0% {
    transform: translateY(-110%) rotate(-6deg);
  }
  50% {
    transform: translateY(-30%) rotate(-6deg);
  }
  100% {
    transform: translateY(60%) rotate(-6deg);
  }
}
.animate-loading {
  animation: loading 2s ease-in-out forwards;
}

@keyframes topLineScaling {
  0% {
    height: 20px;
  }
  20% {
    height: 20px;
  }
  40% {
    height: 80px;
  }
  50% {
    height: 80px;
  }
  75% {
    height: 20px;
  }
  100% {
    height: 20px;
  }
}
.animate-topLineScaling {
  animation: topLineScaling 1s linear forwards;
}
.animate-topLineScalingAfter1500ms {
  animation: topLineScaling 1s 1s linear forwards;
}
@keyframes bottomLineScaling {
  0% {
    height: 20px;
  }
  20% {
    height: 20px;
  }
  30% {
    height: 70px;
  }
  40% {
    height: 80px;
  }
  75% {
    height: 20px;
  }
  100% {
    height: 20px;
  }
}
.animate-bottomLineScaling {
  animation: bottomLineScaling 1s linear forwards;
}
.animate-bottomLineScalingAfter1500ms {
  animation: bottomLineScaling 1s 1s linear forwards;
}
