@keyframes slideToLeft140px {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-140px);
  }
}
@keyframes slideToLeft100px {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100px);
  }
}
@keyframes slideToLeft60px {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-60px);
  }
}

@media (max-width: 880px) {
  @keyframes slideToLeft140px {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-90px);
    }
  }
}

@media (max-width: 630px) {
  @keyframes slideToLeft140px {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-90px);
    }
  }
}

@media (max-width: 550px) {
  @keyframes slideToLeft140px {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-10px);
    }
  }
  @keyframes slideToLeft100px {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-65px);
    }
  }
}
.animate-slideToLeftAfter2500ms {
  animation: slideToLeft140px 0.5s ease-in-out 2.5s forwards;
}
.animate-slideToLeftAfter2750ms {
  animation: slideToLeft100px 0.5s ease-in-out 2.75s forwards;
}
.animate-slideToLeftAfter3000ms {
  animation: slideToLeft60px 0.5s ease-in-out 3s forwards;
}

@keyframes reveal {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}
.animate-revealTextAfter2750ms {
  animation: reveal 1s linear 2.75s backwards;
}
.animate-revealTextAfter3000ms {
  animation: reveal 0.25s linear 3s backwards;
}
.animate-revealTextAfter3100ms {
  animation: reveal 0.25s linear 3.1s backwards;
}
.animate-revealTextAfter3200ms {
  animation: reveal 0.25s linear 3.2s backwards;
}
.animate-revealTextAfter3250ms {
  animation: reveal 0.75s linear 3.25s backwards;
}

@keyframes draw {
  to {
    stroke-dashoffset: -3291;
  }
  from {
    stroke-dashoffset: 0;
  }
}
.animate-heartbeat {
  stroke-dasharray: 200 3291;
  stroke-dashoffset: 3491;
  animation: draw 2s ease-in-out infinite;
}
