@keyframes slideToLeft80px {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-80px);
  }
}
@keyframes slideToLeft100px {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100px);
  }
}
@keyframes slideToLeft60px {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-60px);
  }
}
.slideToLeftAfter1000ms {
  animation: slideToLeft80px 0.75s ease-in-out 1s forwards;
}
.slideToLeftAfter1250ms {
  animation: slideToLeft100px 0.75s ease-in-out 1.25s forwards;
}
.slideToLeftAfter1500ms {
  animation: slideToLeft60px 0.75s ease-in-out 1.5s forwards;
}

@keyframes reveal {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}
.revealTextAfter1250ms {
  animation: reveal 1s linear 1.25s backwards;
}
.revealTextAfter1500ms {
  animation: reveal 0.25s linear 1.5s backwards;
}
.revealTextAfter1600ms {
  animation: reveal 0.25s linear 1.6s backwards;
}
.revealTextAfter1700ms {
  animation: reveal 0.25s linear 1.7s backwards;
}
.revealTextAfter1750ms {
  animation: reveal 0.75s linear 1.75s backwards;
}

.fadeInUpAfter250ms {
  opacity: 0;
  transform: translateY(50px);
  transition:
    opacity 1s 0.25s,
    transform 1s 0.25s;
}
.fadeInUpAfter450ms {
  opacity: 0;
  transform: translateY(50px);
  transition:
    opacity 1s 0.45s,
    transform 1s 0.45s;
}
.fadeInUpAfter650ms {
  opacity: 0;
  transform: translateY(50px);
  transition:
    opacity 1s 0.45s,
    transform 1s 0.45s;
}
.fadeInUpAfter850ms {
  opacity: 0;
  transform: translateY(50px);
  transition:
    opacity 1s 0.45s,
    transform 1s 0.45s;
}
.show {
  opacity: 1;
  transform: translateY(0);
}

@keyframes moveWindow {
  0% {
    left: -100px;
  }
  100% {
    left: 100%;
  }
}
.heartbeat {
  animation: moveWindow 3s infinite;
}
