@keyframes increaseOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.6;
  }
}
@keyframes decreaseOpacity {
  from {
    opacity: 0.6;
  }
  to {
    opacity: 0;
  }
}
.animate-fadeInOpacity {
  animation: increaseOpacity 1s forwards;
}
.animate-fadeOutOpacity {
  animation: decreaseOpacity 1s forwards;
}

@keyframes slideToTop {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}
@keyframes slideToDown {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(100%);
  }
}
.animate-slideToTop {
  animation: slideToTop 1s forwards;
}
.animate-slideToDown {
  animation: slideToDown 1s forwards;
}
.animate-slideToDownAfter500ms {
  animation: slideToDown 1s 0.5s forwards;
}
